@tailwind base;
@tailwind components;
@tailwind utilities;

.user_form input{
    border: 1px solid black;
    margin: 20px 20px;
    padding: 10px 10px;
}
.user_form button{
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 10px;
}